@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');
:root {
  --primary: #2f2f3a;
  --secondary: #f7f5f4;
  --accent: #f0c9b2;
  --accent2: #8db0d3;
  --links: #e29e91;
  --grey: #b1b5bd;
  --shadows: #4a4f58;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 120px;
  font-size: 16px;
  color: var(--primary);
  font-family: "Syne";
  font-weight: 400;
  letter-spacing: -0.01;
}

h1 {
  font-size: 47.78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 39.81px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 33.18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 27.65px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 23.04px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h6 {
  font-size: 19.2px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
  font-family: 'Manrope';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--links);
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

img {
  width: 100%;
}

/* homepage */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
}

header h5 a:hover {
  color: var(--primary);
  text-decoration: none;
}

header nav a {
  padding: 0px 24px;
}

/* footer */
footer {
  color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}


footer p {
  font-size: 13.33px;
  font-weight: 600;
}

/* homepage */


.hero-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0 8px;
}

.hero-text h1 {
  flex: 100%;
}

.hero img {
  height: 769px;
  object-position: center center;
  object-fit: cover;
  margin-top: 16px;
}

.quick-looks {
  background: var(--secondary);
  margin: 32px 0;
  padding: 40px 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.quick-looks h4 {
  text-align: center;
  margin-bottom: 32px;
}

.carousel {
  overflow: hidden;
  white-space: nowrap;
}

.carousel img {
  width: 400px;
  height: 248px;
  object-fit: cover;
  margin: 0 40px;
}

.carousel-wrap {
  display: inline-block;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.selected-works {
  display: flex;
  flex-direction: column;
  margin: 64px 0;
}

.selected-works h6 {
  margin-top: 16px;
}

.selected-works-cards {
  display: flex;
  margin: 16px 0;
  gap: 104px;
  align-items: center;
}

.selected-works-cards img {
  width: 633px;
  height: 414px;
  object-fit: cover;
  border-radius: 40px;
}

.selected-works-text p{
  margin: 8px 0 32px;
}


.selected-works-cards a {
  border: 3px solid var(--accent2);
  border-radius: 8px;
  font-weight: 700;
  margin-top: 32px;
  padding: 16px 32px;
}

.selected-works-cards a:hover {
  background-color: var(--accent2);
  color: var(--secondary);
  text-decoration: none;
}

/* work */
.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 112px 0;
  /* align-items: center; */
}


.work-cards {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  gap: 88px;
  align-items: center;
}
.work h2{
  margin: 32px 0 16px;
  text-align: center;
}

.work-cards p {
  margin: 24px 0;
}

.work-cards img {
  width: 388px;
  height: 254px;
  object-fit: cover;
  border-radius: 24px;
}

.btn a {
  border: 2px solid var(--accent2);
  border-radius: 8px;
  font-weight: 700;
  font-size: 13.33px;
  padding: 8px 16px;
}

.btn a:hover {
  background-color: var(--accent2);
  color: var(--secondary);
  text-decoration: none;
}

